@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
body, html {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: SequentialistBB;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
}
.bg-image-1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  background-image: url("assets/background/planets-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-image-2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -99;
  background-image: url("assets/background/planets-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
}

.characterContainer {
  position: absolute;
  right: 30%;
  bottom: 0%;
}
.characterImg img {
  height: 60vh;
  width: auto;
}
.dialogBox {
  position: absolute;
  top: -220px;
  left: 0%;
  cursor: url("assets/curser.svg");
}
.dialogBox:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
#dialog {
  height: 100px;
  overflow-y: scroll;
  padding-right: 12px;
}
.choiceContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
/*--------------------*/
/*-----Start Page-----*/
/*--------------------*/
#scroller {
  position: fixed;
  right: 0%;
  top: 50vh;
  color: blue;
  width: 100vw;
  text-align: right;
  padding-right: 10px;
  z-index: 100;
}
#scroller::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: blue;
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 100;
}
.bg-gradient {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: -webkit-linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 100%);
  background: -o-linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 100%);
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 5vw;
}

section h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 2vw;
}

#home a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding-top: 80px;
}
#home a:hover {
  opacity: .5;
}
#home a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll-anim 2s infinite;
  animation: scroll-anim 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#home a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#home a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#home a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes scroll-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.planet {
  width: 20vh;
  height: auto;
  visibility: hidden;
}
a:hover img {
  filter: drop-shadow(0px 0px 10px #fff);
}
path {
  fill: none;
  /* uncomment to display path 
    stroke: red;
    */
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 100vh;
  width: 100vw;
}
.modal-content {
  background-color: rgba(190, 202, 254, 0.9);
}
.planet-detail.modal-content {
  background-color: rgba(0, 0, 0, 0.0);
}
.planet-detail .modal-header {
  color: #fff;
  background-color: rgba(0, 137, 190, 0.4);
  border-bottom-color: rgba(0, 137, 190, 0.4);
}
.planet-detail .modal-body {
  color: #fff;
  background-color: rgba(0, 137, 190, 0.4);
}
.planet-detail .modal-footer {
  background-color: rgba(0, 137, 190, 0.4);
  border-top-color: rgba(0, 137, 190, 0.4);
}
.planet-detail button {
  background-color: rgba(0, 137, 190, 0.6);
  border-color: rgba(0, 137, 190, 0.39);
}
.planet-detail button:hover, .planet-detail button:active {
  background-color: rgba(0, 137, 190, 1);
  border-color: rgba(0, 137, 190, 1);
}



/*--------------------*/
/*-----Intro Page-----*/
/*--------------------*/

.spaceship {
  width: 20vh;
  height: auto;
}

.timeline ul {
  padding: 50px 0 20vh 0px;
color: #C0C0C0;
}

.timeline ul li {
    
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
    border-radius: 10px;
  background: rgba(23,23,23,0.80);

}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(23,23,23,0.80) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(23,23,23,0.80);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
    color: #fff;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgba(23,23,23,1);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(23,23,23,0.80) transparent transparent;
  }
}